In [65]:
import pandas as pd
import sqlalchemy
import urllib.parse
import os
from datetime import datetime

In [66]:

fecha_actual = datetime.now().strftime("%Y%m%d_%H%M%S")  # formato: 20250629_145210

In [67]:
# Configuración de conexión
db_user = "usr_ro_dmc_rrhh_estudiantes"
db_pass = urllib.parse.quote_plus("fZp!jHt0j6%89^B4I*L*29bz4b^")
db_host = "mgg.vps.webdock.cloud"
db_port = "5432"
db_name = "dmc"
schema = "rrhh"
table = "empleado"

In [68]:
# String de conexión
engine = sqlalchemy.create_engine(
    f"postgresql+psycopg2://{db_user}:{db_pass}@{db_host}:{db_port}/{db_name}"
)

In [69]:
# Consulta de prueba
query = f"SELECT * FROM {schema}.{table}"

In [ ]:
# Ejecutar consulta
try:
    df = pd.read_sql_query(query, engine)
    print(df.head())
except Exception as e:
    print("Error al conectar o consultar:", e)

   empleado_id tip_documento num_documento nom_empleado ape_empleado  \
0            1           DNI      78901234          Ana        Pérez
1            2            CE      AB123456       Carlos        López
2            3     Pasaporte        XYZ789        Sofía     Martínez
3            4           DNI      12345678       Daniel        Gómez
4            5            CE      CD987654        Elena    Rodríguez

  cod_cargo cod_departamento  mnt_salario  mnt_tope_comision
0    CAR004           DEP004      1800.00                NaN
1    CAR002           DEP002      2500.50              300.0
2    CAR003           DEP003      2200.75                NaN
3    CAR001           DEP001      4000.00              500.0
4    CAR005           DEP005      2000.20                NaN

In [71]:
df.head()

,empleado_id,tip_documento,num_documento,nom_empleado,ape_empleado,cod_cargo,cod_departamento,mnt_salario,mnt_tope_comision
0,1,DNI,78901234,Ana,Pérez,CAR004,DEP004,1800.00,NaN
1,2,CE,AB123456,Carlos,López,CAR002,DEP002,2500.50,300.0
2,3,Pasaporte,XYZ789,Sofía,Martínez,CAR003,DEP003,2200.75,NaN
3,4,DNI,12345678,Daniel,Gómez,CAR001,DEP001,4000.00,500.0
4,5,CE,CD987654,Elena,Rodríguez,CAR005,DEP005,2000.20,NaN

In [72]:
df["tip_documento"]=df["tip_documento"].str.upper()
df["tip_documento"].value_counts()

tip_documento
DNI          25
CE           13
PASAPORTE    12
Name: count, dtype: int64

In [73]:
df["nom_empleado_completo"]=(df["nom_empleado"]+" "+df["ape_empleado"])
df["nom_empleado_completo"].head()

0          Ana Pérez
1       Carlos López
2     Sofía Martínez
3       Daniel Gómez
4    Elena Rodríguez
Name: nom_empleado_completo, dtype: object

In [74]:
df["mnt_tope_comision"]=df["mnt_tope_comision"].fillna(0)

In [75]:
df["salario_anual"]=round(df["mnt_salario"]*12,2)

In [76]:
df["nom_empleado"] = df["nom_empleado"].str.title()
df["ape_empleado"] = df["ape_empleado"].str.title()

In [77]:
df.head()

,empleado_id,tip_documento,num_documento,nom_empleado,ape_empleado,cod_cargo,cod_departamento,mnt_salario,mnt_tope_comision,nom_empleado_completo,salario_anual
0,1,DNI,78901234,Ana,Pérez,CAR004,DEP004,1800.00,0.0,Ana Pérez,21600.0
1,2,CE,AB123456,Carlos,López,CAR002,DEP002,2500.50,300.0,Carlos López,30006.0
2,3,PASAPORTE,XYZ789,Sofía,Martínez,CAR003,DEP003,2200.75,0.0,Sofía Martínez,26409.0
3,4,DNI,12345678,Daniel,Gómez,CAR001,DEP001,4000.00,500.0,Daniel Gómez,48000.0
4,5,CE,CD987654,Elena,Rodríguez,CAR005,DEP005,2000.20,0.0,Elena Rodríguez,24002.4

In [78]:
# Obtener ruta absoluta del script actual
script_dir = os.getcwd()

# Subir un nivel y entrar a la carpeta output/
output_dir = os.path.join(script_dir, "..", "output")
os.makedirs(output_dir, exist_ok=True)  # Crear si no existe

# Generar nombre con timestamp
timestamp = datetime.now().strftime("%Y%m%d_%H%M%S")
output_file = os.path.join(output_dir, f"empleados_transformados_{timestamp}.csv")

# Exportar
df.to_csv(output_file, index=False, encoding="utf-8-sig")